body {
  margin: 0;
  height: 100vh;
}
.game-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  background: radial-gradient(rgba(0, 0, 0, 0.9) 5%, rgba(0, 0, 0, 1) 35%);
  cursor: crosshair;
}

#game-instructions {
  height: 200px;
  width: 400px;
  padding: 20px;
  background-color: grey;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-instructions > span {
  cursor: pointer;
}

#game-instructions.hidden {
  display: none;
}
