body {
  margin: 0;
  height: 100vh;
}
.game-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  background-color: black;
  cursor: crosshair;
}
